.c-form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  
    label {
      font-size: 18px;
      font-weight: 500;
    }
  
    .c-input-wrapper {
      position: relative;
      width: 100%;
  
      .c-form-control {
        height: 48px;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: black;
        appearance: none;
        background-color: white;
        background-clip: padding-box;
        border: 1px solid black;
        border-radius: 0;
        box-sizing: border-box;
        transition: border-color 0.15s ease-in;
  
        &::placeholder {
          color: black;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
        }
  
        &:focus,
        &:focus-visible {
          background-color: #f7f7f7;
          border: 2px solid #222222;
          box-shadow: 0px 0px 0px 2px #d3f2ff;
          border-radius: 0;
          outline: none;
        }
  
        &.error {
          box-shadow: 0px 0px 0px 2px #a3270c;
          border-radius: 0;
  
          &:focus,
          &:focus-visible {
            background-color: #f7f7f7;
            box-shadow: 0px 0px 0px 2px #a3270c;
            border-radius: 0;
          }
        }
      }
      .c-form-control-date {
        text-transform: uppercase;
      }
  
      .error-icon {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        color: #a3270c;
        pointer-events: none;
      }
  
      .calendar-icon {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }

.c-text-danger {
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #a3270c !important;
}

.c-date-input {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0;
    overflow: hidden;

    &::placeholder{
        text-transform: uppercase;
        color: black;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }

    &:focus,
    &:focus-visible {
    background-color: #f7f7f7;
    border: 2px solid #222222;
    box-shadow: 0px 0px 0px 2px #d3f2ff;
    border-radius: 0;
    outline: none;
    }

    &.error {
    box-shadow: 0px 0px 0px 2px #a3270c;
    border-radius: 0;

    &:focus,
    &:focus-visible {
        background-color: #f7f7f7;
        box-shadow: 0px 0px 0px 2px #a3270c;
        border-radius: 0;
    }
    }
    
    .calendar-btn {
        position: absolute;
        right: 2px;
        top: calc(50% );
        height: calc(100% - 4px);
        transform: translateY(-50%);
        background-color: white;
        border: none;
        border-left: 1px solid #222222;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        cursor: pointer;

        svg {
        width: 20px;
        height: 22px;
        fill: black;
        }

        &:hover {
        background-color: #f0f0f0;
        }
    }

    .error-icon {
        right: 60px !important; // Adjusted for the calendar button
    }
}
